/* add your CSS here */
* {
	font-family: Arial,  Helvetica, sans-serif;
	border-radius: 5px;
}

ul {
	padding: 0;
	list-style: none;
}

p {
	margin-top: 0;
}

li,
.italic {
	font-style: italic;
}

li span {
	font-style: normal;
	font-weight: bold;
}

h3 {
	font-size: 24px;
	margin: 8px 0 8px 0;
}

div, img {
	margin: 0 auto;
}

img {
	margin-bottom: 5px;
}

.border {
	border: 1px solid #ccc;
}

.main {
 	width: 302px;
 	padding: 9px;
 	background-color: #f6793e;
 	-webkit-box-shadow: 0 5px 14px -1px rgba(0,0,0,0.28);
	-moz-box-shadow: 0 5px 14px -1px rgba(0,0,0,0.28);
	box-shadow: 0 5px 14px -1px rgba(0,0,0,0.28);
 }

.info {
 	width: 284px;
 	padding: 8px;
 	font-size: 13px;
 	background-color: #f4d5b8;
}
